body{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.header{
    border-style: solid;
    display: inline-block;
    text-align: center;
}

.left{
    text-align: left;
    float: left;
    width: 40%;
    padding-top: 175px;
}

.right{
    text-align: right;
    float: right;
    width: 40%;
    padding-top: 170px;
}

.center{
    padding-bottom: 600px;
    padding-top: 400px;
}

.column1{
    float:left;
    width:50%;
    text-align: justify;
}

.column2{
    float:right;
    width:50%;
    text-align: justify;
}

.row:after{
    content:"";
    display: table;
    clear:both;
}

.center{
    margin:10;
    position: absolute;
    top:60%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.image_grid{
    display:inline-flex;
    width: 920px;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
}